<a href="https://colab.research.google.com/github/emrulemran/OurPython/blob/main/Python_interview_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Swap Values:
x = 10
y = 20
print('before swap:')
print(x)
print(y)

x, y = y, x


print('after swap:')
print(x)
print(y)

before swap:
10
20
after swap:
20
10

In [ ]:
# List comprehension:

lc = [x **2 for x in range(0, 25, 2)]
print(lc)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576]

In [ ]:
cubesList = [x**3 for x in range(0, 10,1)]
print(cubesList)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
# multiple assignements:
x,y, z = 10, 20, 30
print(x, y, z)

10 20 30

In [ ]:
# Unpacking: unpack elements of a list or tuple into separate variables
list = [10, 20, 30, 40, 50]
a, b, c, d, e = list

print(a)
print(b)
print(c)
print(d)
print(e)

10
20
30
40
50

In [ ]:
# merge dictioneries:

d1 = {1:'a', 2:'b', 3:'c', 4:'d'}
d2 = {5:'e', 6:'f', 7:'g', 8:'h'}

mrgD = {**d1 , **d2}
print(mrgD)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g', 8: 'h'}

In [ ]:
# ternary operator:
x = 10
"positive" if x >=10 else "negative"

'positive'

In [4]:
# Write a Python function to reverse a string.

def reverse_string(input_text):

  return input_text[::-1]

print(reverse_string("we are learning"))

gninrael era ew

In [15]:
# Write a Python function to remove duplicates from a list.

def remove_dupes(input_list):
  return list(set(input_list))


my_list = [1,2,3,2,3,5,2,6,6,7,8,3,5,3,6,2,13,1]
print(remove_dupes(my_list))

[1, 2, 3, 5, 6, 7, 8, 13]