<a href="https://colab.research.google.com/github/emrulemran/OurPython/blob/main/Python_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#First Python Program

In [ ]:
print("Hello World")

Hello World

#Printing  Variable

# Single variable

In [ ]:
name="Alam"
print(name)

Alam

# Multiple Variables

In [ ]:
name="Alam"
age=40
job='IT'
print(name,age,job)

Alam 40 IT

# taking two inputs at a time

In [ ]:
x,y=input("Enter two values:").split()
print("Number of students:",x)
print("Number of teachers:",y)

Enter two values:10 5
Number of students: 10
Number of teachers: 5

In [2]:
alam,sami, samad= 40, 8 ,2
print(alam)
print(sami)
print(samad)

40
8
2

In [3]:
salary =2000
Salary2=1000

print(salary + Salary2)

3000

In [4]:
F_Name="Mohammad "
L_Name="Alam"
print(F_Name +" " +L_Name)

Mohammad  Alam

In [5]:
print("Hello" * 5)

HelloHelloHelloHelloHello

In [6]:
note="We are learning python"
print(note[0:6])

We are

#Place holders in strings

In [8]:
son="Sami"
print(son +" is 8 years old")

Sami is 8 years old

In [10]:
sentence= "%s is %d years old"   #qestion % d means integer??
print(sentence % ("Sami", 8))

Sami is 8 years old

In [1]:
name="Alam"
print(f"Hello, {name}")

Hello, Alam

#List

In [3]:
fruits_list=['mango','bananas','cheese']
print(fruits_list[-1])

cheese

In [4]:
fruits_list.append('apple')
print(fruits_list)

['mango', 'bananas', 'cheese', 'apple']

In [5]:
fruits_list[0]='cherries'
print(fruits_list)

['cherries', 'bananas', 'cheese', 'apple']

In [6]:
del fruits_list[0]
print(fruits_list)

['bananas', 'cheese', 'apple']