<a href="https://colab.research.google.com/github/emrulemran/OurPython/blob/main/Python_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#First Python Program

In [ ]:
print("Hello World")

Hello World

#Printing  Variable

# Single variable

In [ ]:
name="Alam"
print(name)

Alam

# Multiple Variables

In [ ]:
name="Alam"
age=40
job='IT'
print(name,age,job)

Alam 40 IT

# taking two inputs at a time

In [ ]:
x,y=input("Enter two values:").split()
print("Number of students:",x)
print("Number of teachers:",y)

Enter two values:10 5
Number of students: 10
Number of teachers: 5

In [2]:
alam,sami, samad= 40, 8 ,2
print(alam)
print(sami)
print(samad)

40
8
2

In [3]:
salary =2000
Salary2=1000

print(salary + Salary2)

3000

In [4]:
F_Name="Mohammad "
L_Name="Alam"
print(F_Name +" " +L_Name)

Mohammad  Alam